BOT_TOKEN=your_telegram_bot_token
BOT_USERNAME=your_bot_username
OWNER_USERNAME=your_username_without_at
MONGODB_URI=mongodb+srv://username:password@cluster-url/x_item_bot?retryWrites=true&w=majority
MONGODB_DB_NAME=x_item_bot

CHECK_CHANNEL=@yourcheckchannel
LOG_CHANNEL=@yourlogchannel
PROOF_CHANNEL=@yourproofchannel

CHANNEL_MAIN=https://t.me/+Zjl-KUen6gtmNGJl
CHANNEL_1=https://t.me/+iB_Ev7sxfYRiYjZl
CHANNEL_2=https://t.me/backupheres
CHANNEL_3=https://t.me/+52hVAKUHLgdkNzY1
CHANNEL_4=https://t.me/+rWWdk-KXyp0xMjdl

REFER_POINTS=3
WITHDRAW_PREMIUM_POINTS=3
WITHDRAW_MAIL_POINTS=50
STOCK_COUNT=5
