BOT_TOKEN=your_telegram_bot_token
BOT_USERNAME=your_bot_username
OWNER_USERNAME=your_username_without_at
MONGODB_URI=mongodb+srv://username:password@cluster-url/x_item_bot?retryWrites=true&w=majority
MONGODB_DB_NAME=x_item_bot

CHECK_CHANNEL=@yourcheckchannel
LOG_CHANNEL=@yourlogchannel
PROOF_CHANNEL=@yourproofchannel

CHANNEL_MAIN=https://t.me/yourmainchannel
CHANNEL_1=https://t.me/yourchannel1
CHANNEL_2=https://t.me/yourchannel2
CHANNEL_3=https://t.me/yourchannel3
CHANNEL_4=https://t.me/yourchannel4

REFER_POINTS=3
WITHDRAW_PREMIUM_POINTS=3
WITHDRAW_MAIL_POINTS=50
STOCK_COUNT=5
